# Python venv
*venv/
*.venv/

# PyCharm
.idea/

# Jupyter Notebook
*.ipynb_checkpoints/

# Python
*__pycache__/

# TPs enonces
*.pdf

# TPs notebooks
*.ipynb

# TPs data
tp*/assets/*

# except the .placeholder file
!tp*/assets/.placeholder

# assets
assets/


# ignore nbs
nbs

# tests
tests

# files for the course
*.txt

# README
*README.md

# flake8
*.flake8

# jsons
*.json
